/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
/* Variables */
:root {
    /* ### Colors: */
    /* Primary */
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);
    /* Neutral */
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
    /* --------------------------------- */
    /* ### Animations: */
    /* # Transition */
    --transition: ease-in-out 300ms
}
/* GLobal Rules */
a {
    color: var(--Very-Dark-Blue);
    text-decoration: none !important;
}
ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}
p {
    margin: 0 !important;
}
/* Body & Html */
html,
body {
    min-height: 100vh;
    position: relative;
    font-size: 18px !important;
    color: var(--Very-Dark-Blue);
    overflow-x: hidden !important;
    font-family: 'Rubik', sans-serif !important
}
/* Head Title */
.head-title {
    text-align: center;
}
.head-title h3 {
    margin-bottom: 10px;
}
.head-title p {
    width: 70%;
    margin: 0 auto !important;
    color: var(--Grayish-Blue);
}
@media (max-width: 768px) {
    .head-title p {
        width: 100%;
        margin: 0 !important;
    }
}
/* Transition */
header nav .links,
header nav .links ul li a,
.features .list ul li,
.features .list ul li::before {
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
/* Header */
header nav .links .btn-close-menu,
header nav .btn-open-menu {
    display: none;
}
header nav .links ul li a:hover {
    color: var(--Soft-Red);
}
header nav .links ul li a.login {
    color: white;
    border-radius: 5px;
    background-color: var(--Soft-Red);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid var(--Soft-Red);
}
header nav .links ul li a.login:hover {
    color: var(--Very-Dark-Blue);
    background-color: transparent;
}
@media (max-width: 768px) {
    header nav .links {
        top: -100%;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 20px;
        padding-top: 70px;
        z-index: 10;
        position: absolute;
        background-color: var(--Very-Dark-Blue);
    }
    header nav .links.active {
        top: 0;
    }
    
    header nav .links .btn-close-menu,
    header nav .btn-open-menu {
        display: block;
    }
    header nav .links .btn-close-menu {
        top: 10px;
        right: 10px;
        color: white;
        font-size: 1.5rem;
        position: absolute;
    }
    header nav .btn-open-menu {
        font-size: 1.4rem;
    }
    header nav .links ul {
        flex-direction: column;
    }
    header nav .links ul li {
        width: 100%;
        text-align: center;
    }
    header nav .links ul li:not(:last-of-type) {
        border-top: solid 1px var(--Grayish-Blue);
    }
    header nav .links ul li a {
        color: white;
        display: block
    }
    header nav .links ul li a.login {
        border-color: white;
        background-color: transparent;
    }
    header nav .links ul li a.login:hover {
        color: var(--Soft-Red);
    }
}
/* Landing */
.landing {
    height: 90vh;
}
.landing .text-area p {
    color: var(--Grayish-Blue);
    margin-bottom: 25px !important;
}
.landing .text-area button.get-it-on-chrome {
    color: white;
    margin-right: 10px;
    background-color: var(--Soft-Blue);
}
.landing .text-area button.get-it-on-firefox {
    box-shadow: 0 5px 20px -10px var(--Grayish-Blue);
}
.landing .text-area,
.landing .image-area {
    width: 50%;
}
.landing .image-area {
    position: relative;
}
.landing .image-area::before {
    right: 0;
    bottom: 0;
    width: 80%;
    content: '';
    z-index: -1;
    height: 200px;
    position: absolute;
    background-color: var(--Soft-Blue);
    border-radius: 10px 10px 10px 100px;
    -webkit-border-radius: 10px 10px 10px 100px;
    -moz-border-radius: 10px 10px 10px 100px;
    -ms-border-radius: 10px 10px 10px 100px;
    -o-border-radius: 10px 10px 10px 100px;
}
@media (max-width: 768px) {
    .landing .text-area,
    .landing .image-area {
        width: 100%;
    }
    .landing .image-area {
        margin-bottom: 40px;
    }
}
/* Features */
.features .list ul li {
    opacity: .75;
    cursor: pointer;
    position: relative;
}
.features .list ul li.active,
.features .list ul li:hover {
    opacity: 1;
}
.features .list ul li::before {
    left: 0;
    bottom: 0;
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    background-color: var(--Soft-Red);
}
.features .list ul li.active::before,
.features .list ul li:hover::before {
    width: 100%;
}
.features .slides .slide {
    display: none;
}
.features .slides .slide.active {
    gap: 5rem;
    display: flex;
    align-items: center;
}
.features .slides .slide .image-area {
    position: relative;
}
.features .slides .slide .image-area::before {
    left: 0;
    width: 80%;
    content: '';
    z-index: -1;
    bottom: -50px;
    height: 200px;
    position: absolute;
    background-color: var(--Soft-Blue);
    border-radius: 10px 10px 100px 10px;
    -webkit-border-radius: 10px 10px 100px 10px;
    -moz-border-radius: 10px 10px 100px 10px;
    -ms-border-radius: 10px 10px 100px 10px;
    -o-border-radius: 10px 10px 100px 10px;
}
.features .slides .slide .text-area p {
    margin-bottom: 30px !important;
    color: var(--Grayish-Blue);
}
.features .slides .slide .text-area .btn-more-info {
    color: white;
    background-color: var(--Soft-Blue);
}
.features .slides .slide .image-area,
.features .slides .slide .text-area {
    width: 50%;
}
@media (max-width: 768px) {
    .features .list ul {
        flex-direction: column;
    }
    .features .slides .slide {
        flex-direction: column;
    }
    .features .slides .slide .image-area {
        margin-bottom: 40px;
    }
    .features .slides .slide .text-area .btn-more-info  {
        display: none;
    }
    .features .slides .slide .image-area,
    .features .slides .slide .text-area {
        width: 100%;
    }
}